 
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    left: 20px;
    position: relative;
}


.card-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}